* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: titleFont;
    src: url('Pantherdam Signature Italic.woff');
}

@font-face {
    font-family: bodyFont;
    src: url('lgc.ttf');
}

@font-face {
    font-family: minimalFont;
    src: url('Minimalist.otf');
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 10px;
}

#footerContent {
    margin-top: 5px;
    color: white;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: rgb(46, 39, 33);
    position: fixed;
    top: 0;
    width: 100%;
}

.storename {
    margin-left: 40px;
}

.headerTitle {
    color: whitesmoke;
    font-family: titleFont;
    font-size: 50px;
    justify-content: left;
    flex-grow: auto;
    text-align: right;
}

body {
    margin: 0;
    position: static;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(46, 39, 33);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

a {
    font-family: bodyFont;
    text-decoration: none;
    padding: 25px;
    color: whitesmoke;
}

p {
    color: whitesmoke
}

.container {
    max-width: 1400px;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row2 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.vline {
    flex-basis: 50%;
    min-width: 200px;
}

.vline img {
    max-width: 100%;

}

.vline h1 {
    font-family: bodyFont;
    font-size: 70px;
    line-height: 80px;
    margin: 20px;
    color: whitesmoke;
    text-shadow: 2px 6px #23232335;
}

.containerItem {
    max-width: 2500px;
    margin: auto;
    padding-left: 200px;
    padding-right: 20px;
}

.rowItem {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 150px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    flex-basis: 50%;
    min-width: 200px;
}

.item img {
    max-width: 70%;
    border-radius: 100%;
}

.item h1 {
    font-family: bodyFont;
    font-size: 40px;
    line-height: 80px;
    margin: 0px;
    color: whitesmoke;
    text-shadow: 2px 6px #23232335;
}

.item h4 {
    font-family: bodyFont;
    font-size: 20px;
    line-height: 40px;
    margin: 0px;
    color: whitesmoke;
}

.button {
    display: inline-block;
    background: rgb(116, 83, 60);
    color: whitesmoke;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.3s;
}

.button:hover {
    background: #23232375;
}

.button2 {
    display: inline-block;
    background: rgb(37, 29, 23);
    color: whitesmoke;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.3s;
}

.button2:hover {
    background: #00000075;
}

.buttonBack {
    display: inline-block;
    background: rgb(72, 49, 32);
    color: whitesmoke;
    padding: 8px 30px;
    margin: 15px 0px;
    border-radius: 100px;
    transition: background 0.3s;
}

.buttonBack:hover {
    background: #23232375;
}

.buttonAdd {
    display: inline-block;
    background: rgb(72, 49, 32);
    cursor: pointer;
    color: whitesmoke;
    padding: 8px 30px;
    margin: 15px 0px;
    border-radius: 100px;
    transition: background 0.3s;
    outline: none;
    border: none;
}

.buttonAdd:hover {
    background: #23232375;
}

.prodAdd {
    display: inline-block;
    background: #23232375;
    cursor: pointer;
    color: whitesmoke;
    padding: 8px 30px;
    margin: 15px 0px;
    border-radius: 100px;
    transition: background 0.3s;
}

.prodAdd:hover {
    background: #2E2721;
}

.buttonUpd {
    display: inline-block;
    color: whitesmoke;
    padding: 8px 30px;
    margin: 15px 0px;
    border-radius: 100px;
    transition: background 0.3s;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    color: white;
    border: 3px solid rgb(72, 49, 32);
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #322317;
}

.form-container input[type=number],
.form-container input[type=text],
.form-container input[type=number]:focus,
.form-container input[type=text]:focus {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    color: white;
    background: #2B2118;
}

.form-container input[type=number]::placeholder,
.form-container input[type=text]::placeholder {
    color: white;
}

.form-container input[type=number]:focus::placeholder,
.form-container input[type=text]:focus::placeholder {
    color: #888;
}

.form-container .btn {
    background-color: #113327;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: rgb(82, 16, 16);
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.text-center {
    text-align: center;
}

.text-centerItem {
    text-align: center;
}

.header {
    background-image: url('images/final.PNG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    padding-top: 50px;
    margin: 50px 0;
}

.menuMain {
    padding-top: 50px;
    padding-right: 10px;
    margin: 20px 0;
}

.colmen {
    flex-basis: 20%;
    min-width: 30px;
    margin-bottom: 30px;
    text-shadow: #00000075;
    cursor: pointer;
    transition: transform 0.5;
}

.colmen img {
    width: 100%;
    border-radius: 200px;
}

.colmen img:hover {
    transform: translateY(-5px);
}

.colmenItem {
    flex-basis: 50%;
    min-width: 50px;
    margin-bottom: 30px;
}

.colmenItem img {
    width: 30%;
    border-radius: 200px;
}

.container2 {
    max-width: 2000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container2 h2 {
    font-family: bodyFont;
    font-size: 30px;
    line-height: 50px;
    margin: 0px;
    color: whitesmoke;
    text-align: center;
}

.about {
    padding-top: 50px;
    margin: 20px 0;
    background-image: radial-gradient(rgb(72, 51, 30), rgba(74, 60, 50, 0));
}

.contact {
    padding-top: 50px;
    margin: 20px 0;
    background-image: radial-gradient(rgb(72, 51, 30), rgba(74, 60, 50, 0));
}

.containerAbout {
    max-width: 2000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.containerAbout h2 {
    font-family: bodyFont;
    font-size: 25px;
    line-height: 100px;
    margin: 20px;
    color: whitesmoke;
    text-align: center;
}

.colmenAbout {
    flex-basis: 50%;
    min-width: 40px;
    margin-bottom: 100px;
}

.colmenAbout img {
    width: 100%;
}

.colmenProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    min-width: 30px;
    padding-top: 0px;
    padding-bottom: 0;
    cursor: pointer;
}

div.colmenProducts {
    margin-bottom: 30px;
}

.colmenProducts img {
    width: 100%;
    border-radius: 200px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.353);
}

.colmenProducts img:hover {
    transform: translateY(-5px);
}

.containerProducts {
    max-width: 2000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.containerProducts h2 {
    font-family: bodyFont;
    font-size: 30px;
    line-height: 50px;
    margin: 0px;
    color: whitesmoke;
    text-align: center;
}

.smalltxt {
    font-family: bodyFont;
    line-height: 20px;
    margin: 10px;
    text-align: center;
    color: whitesmoke;
}

.smalltxt2 {
    font-family: bodyFont;
    line-height: 20px;
    margin: 10px;
    text-align: center;
    color: whitesmoke;
}

.category {
    padding-top: 30px;
    font-family: bodyFont;
    line-height: 30px;
    margin: 10px;
    text-align: center;
    color: whitesmoke;
}

.latest {
    background-image: url('images/bentomany.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
    padding: 100px 0;
}

.aboutDevs {
    background-image: url('images/devs.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 20px;
    padding: 100px 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: beige;
    background-color: #322317;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #1a1a1a45;
}

.colmen .latest-img {
    padding: 30px;
}

.colmen2 {
    flex-basis: 30%;
    min-width: 0px;
    margin-bottom: 30px;
}

.colmen2 img {
    width: 60%;
    border-radius: 30px;
}

.logos {
    margin: 30px auto;
}

.colmen5 {
    width: 100px;
}

.colmen5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.colmen5 img:hover {
    filter: grayscale(0%);
}

.footer {
    padding-top: 30px;
    height: 250px;
    background-color: rgb(17, 10, 5);
}

footer {
    display: flex;
    flex-flow: row nowrap;
}

.footer_item {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 40px;
}

.footer_link {
    color: gray;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

#f2 {
    align-items: flex-end;
}

.footer_item ul li {
    margin-left: -15px;
}

@keyframes spinning {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.spin {
    animation-name: spinning;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}